.image-overlay{
    filter: brightness(.3);
}

section  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 100%;
  }

.section-container {
    text-align: left;
    padding-left: 30px;
    cursor: pointer;
}

.carousel-image {
    height: 330px;
    width: 220px;
}

@media screen and (max-width: 800px) {
    .carousel-image {
        height: 210px;
        width: 140px;
    }
  }