.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.modal .modal-main {
  position: fixed;
  background: white;
  width: 40%;
  height: 100%;
  top: 0%;
  right: 0;
  transition: all 0.25s ease;
  animation: fadeInRight 0.25s ease forwards;
  overflow: scroll;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    right: 20%;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

.cart-header-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #eeeeee;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
  height: 100px;
}

.cart-back-btn-container {
  padding: 44px 0px 0px 33px;
}
.cart-your-cart-container {
  padding: 44px 33px 0px 0px;
}
.cart-your-cart-text {
  padding-right: 14px;
  font-weight: bold;
}

.cartItem-container {
  padding-top: 33px;
}
.cart-subtotal {
  display: flex;
  justify-content: space-between;
  padding: 48px 33px 18px 40px;
}
.cart-subtotal-text {
  font-weight: 300;
  font-size: 36px;
  line-height: 41px;
}
.cart-subtotal-label {
  padding-top: 20px;
}
.cart-checkout-cover {
  height: 70px;
  background: #000000;
  color: #fefefe;
  /* padding-top: 24px; */
  display: flex;
  justify-content: center;
  margin: auto 0;
}
.cart-checkout-container {
  padding: 48px 33px 18px 40px;
}

.cart-checkout-main {
  padding-top: 25px;
}
.cart-checkout-icon {
  padding-right: 45px;
  font-size: 20px;
}
